<div>{{> nav/nav-block}}</div>
<div class="card formCol">
    <div class="card-body cardCol">
        <form action="/sell" method="POST" class="text">
            <div class="form-group">
                <label for="category" class="fText ">Category</label>
                <select class="form-control form-control-lg" name="category" value={{category}}>
                    <option></option>
                    <option>Weapon</option>
                    <option>Armor</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group">
                <label for="itemType" class="fText ">Item Name</label>
                <select class="form-control form-control-lg" name="itemName" value={{itemName}}>
                    <option></option>
                    <option>Katana</option>
                    <option>Naginata</option>
                    <option>Yumi</option>
                    <option>Tanto</option>
                    <option>Helmet</option>
                    <option>Yoroi Armor</option>
                    <option>Tatami-Gusoku</option>
                    <option>Hoate</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group">
                <label for="rep" class="fText ">Authentic or Replica</label>
                <select class="form-control form-control-lg" name="replica" value={{replica}}>
                    <option></option>
                    <option>0</option>
                    <option>1</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group">
                <label for="description" class="fText ">Item description</label>
                <textarea class="form-control" name="descript" rows="3" value={{descript}}></textarea>
            </div>
            <div class="form-group">
                <label for="startBid" class="fText ">Starting Bid Price</label>
                <input type="text" class="form-control" name="highestBid" value={{highestBid}}>
            </div>
            <button type="submit" class="submit fText">Submit</button>
        </form>
    </div>
</div>